<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>Class</title>
    <script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/layer-v3.1.1/layer/layer.js"></script>
    <script type="text/javascript" src="__STATIC__/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    
    <script type="text/javascript" src="__STATIC__/selectClass/selectClass.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/selectClass/selectClass.css">
</head>
<body>
<div id="theme">
	<table class="table table-hover table-bordered">
		<caption>基本的表格布局</caption>
	   <thead>
	      <tr>
	      	<th></th>
	      	 <th>周一</th>
	         <th>周二</th>
	         <th>周三</th>
	         <th>周四</th>
	         <th>周五</th>
	         <th>周六</th>
	         <th>周日</th> 
	      </tr>
	   </thead>
	   <tbody>
	      <tr id="morning">
	         <td>上午</td>
	         <td id="11"></td>
	         <td id="21"></td>
	         <td id="31"></td>
	         <td id="41"></td>
	         <td id="51"></td>
	         <td id="61"></td>
	         <td id="71"></td>
	      </tr>
	      <tr id="afternoon">
	         <td>下午</td>
	         <td id="12"></td>
	         <td id="22"></td>
	         <td id="32"></td>
	         <td id="42"></td>
	         <td id="52"></td>
	         <td id="62"></td>
	         <td id="72"></td>
	      </tr>
	      <tr id="night">
	         <td>晚上</td>
	         <td id="13"></td>
	         <td id="23"></td>
	         <td id="33"></td>
	         <td id="43"></td>
	         <td id="53"></td>
	         <td id="63"></td>
	         <td id="73"></td>
	      </tr>
	   </tbody>
	</table>
</div>
</body>

</html>